html {
    scroll-behavior: smooth;
}

#home {
    height: 30vh;
    background-color: darkblue;
    min-width: 100vw;
}

.background {
    background-color: lightseagreen;
    height: 100%;
    min-width: 100vw;
}

form {
    height: 400px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

#p1 {
    font-size: 70px;
    font-family: comic sans;
    color: white;
    text-align: center;
    padding-top: 50px;
}

.dflex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}