{% load static %} {% include 'Base.html' %}
<div id="home">
    <div class="container" style="width: 2000px;">
        <p id="p1">Wow Fakta!!</p>
    </div>
</div>

<div class="background">
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group col-sm-10 col-lg-12">
                <label style="font-size: 30px; font-family: comic sans; color: black;">Wonderful Fact</label><br>{{post_form.pesan}}
                <br>
                <br>
                <button type="Submit">Kirim</button>
            </div>

        </form>
    </div>
    <div class="container comment-container" name="isian">
        {% for pesan in status %}
        <div class="item">
            <h3>{{pesan.pesan}}</h3>
            <p id="p2" style="color:black">{{pesan.waktu}}</p>
        </div>
        {% endfor %}

    </div>
</div>