html {
    scroll-behavior: smooth;
    height: 100%;
}

#home {
    height: 30vh;
    background-color: darkblue;
}

.background {
    background-color: white;
    height: 100%;
}

form {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

#p1 {
    font-size: 70px;
    font-family: comic sans;
    color: white;
    text-align: center;
    padding-top: 50px;
}

.dflex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    #home {
        height: 20vh;
        background-color: darkblue;
    }
    #p1 {
        font-size: 50px;
        font-family: comic sans;
        color: white;
        text-align: left;
        padding-top: 25px;
    }
}